<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}! </h1>
</div>

<div class="allButHeader">
  <div class="leftHandSide">
    <!-- <div class="leftHandHeader">menu</div>  -->
    <div class="mobileOrDesktop" [ngClass]='{selectedFormat: !mobile}' (click)="selectDesktopOrMobile(false, selectedUrl)">Desktop</div>
    <div class="mobileOrDesktop" [ngClass]='{selectedFormat: mobile}' (click)="selectDesktopOrMobile(true, selectedUrl)">Mobile</div>
    <div class="urlMenu">
        <!-- , 'selected': url.substring(0, ) -->
      <div *ngFor="let url of sharedUrlArray" [ngClass]="{'selected': url == selectedUrl || selectedUrl.substring(0, 7) == 'mobile_' && selectedUrl.substring(7) == url}" class="urlItem" (click)="onSelect(url)">
        <!-- || url == ('mobile_' + selectedUrl)} -->
          <!--              ^^ menu styling for the "or" -->
        <div class="urlText">{{url}}</div>
      </div>
      <!-- going to be a second ng-for list? do we need this? -->

      <!-- <div *ngFor="let url of sharedUrlArray" [ngClass]="{'selected': url == selectedUrl}" class="urlItem" (click)="onSelect(url)">
        <div class="urlText">{{url}}</div>
      </div> -->
    </div>
  </div>
  <div class="centerOuter">
    <div class="yesAndNoBlocks">
      <div class="yesOrNo yes"><span>yes</span></div>
      <div class="yesOrNo no"><span>no</span></div>
    </div>
    <div class="bothPhotoHolder">
      <div class="thePhoto">
        <div class="photoHeader">before</div>
        <div class="crawledPictureContainerScroll">
          <img class="gnyPicture crawledPicture" src="./assets/greaterny/{{selectedUrl}}.png" />
        </div>
        <div class="crawledDate" [ngClass]='{crawledDateOff: mobile}'>crawled Feb 15 2019</div>
        <div class="crawledDate" [ngClass]='{crawledDateOff: !mobile}'>crawled Feb 19 2019</div>
        <!-- [ngIf]="!mobile"
        [ngIf]="mobile" -->
      </div>
      <div  class="thePhoto">
        <div class="photoHeader">after</div>
        <div class="crawledPictureContainerScroll">
          <img class="denverPicture crawledPicture" src="./assets/denver/{{selectedUrl}}.png" />
        </div>
        <!-- <div class="crawledDate">crawled Feb 19 2019</div> -->
        <div class="crawledDate" [ngClass]='{crawledDateOff: mobile}'>crawled Feb 15 2019</div>
        <div class="crawledDate" [ngClass]='{crawledDateOff: !mobile}'>crawled Feb 19 2019</div>
      </div>
    </div>
  </div>
</div>

 <!--<div>
   <div class="thisThing first">
     <div class="leftHandHeader">menu</div>
     <div *ngFor="let url of sharedUrlArray" class="urlItem" (click)="onSelect(url)">
       <div class="urlText">{{url}}</div>
     </div>
   </div>
  <div class="thisThing second">hi</div>
</div>--> 

<router-outlet></router-outlet>
